<div class="menu-overlay">
  <div class="menu-container">
    <div class="logo-close-thumb">
      <a href="./index.html">
        <svg class="logotype" width="142" height="60">
          <use href="./img/icons.svg#logo-icon"></use>
        </svg>
      </a>
      <button class="navbar-btn-close" type="button">
        <svg class="navbar-close-icon" width="32" height="32">
          <use href="./img/icons.svg#close-icon"></use>
        </svg>
      </button>
    </div>

    <nav class="nav-menu">
      <ul class="nav-list">
        <li>
          <a href="#home" class="menu-nav-link">Home</a>
        </li>
        <li>
          <a href="#mission" class="menu-nav-link">Mission</a>
        </li>
        <li>
          <a href="#benefits" class="menu-nav-link">Benefits</a>
        </li>
        <li>
          <a href="#assorts" class="menu-nav-link">Assortment</a>
        </li>
        <li>
          <a href="#feedbacks" class="menu-nav-link">Feedbacks</a>
        </li>
        <li>
          <a href="#faq" class="menu-nav-link">FAQ</a>
        </li>
        <li>
          <a href="#contacts" class="menu-nav-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <button class="order-btn" type="button">Order</button>
  </div>
</div>
