<header class="header">
  <div class="header-container container">
    <a href="./index.html" class="logo" aria-label="Organic Shop">
      <svg class="logo-icon" width="142" height="60">
        <use href="/img/icons.svg#logo-icon"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#home" class="header-nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#mission" class="header-nav-link">Mission</a>
        </li>
        <li class="header-nav-item">
          <a href="#benefits" class="header-nav-link">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a href="#assortment" class="header-nav-link">Assortment</a>
        </li>
        <li class="header-nav-item">
          <a href="#feedbacks" class="header-nav-link">Feedbacks</a>
        </li>
        <li class="header-nav-item">
          <a href="#faq" class="header-nav-link">FAQ</a>
        </li>
        <li class="header-nav-item">
          <a href="#contacts" class="header-nav-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <a class="order-btn" href="#assortment">Order</a>

    <button
      class="mobile-menu-btn"
      type="button"
      aria-label="Open mobile menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu-icon" width="32" height="32">
        <use href="/img/icons.svg#burgermenu-icon"></use>
      </svg>
    </button>
  </div>
</header>
