<section class="mission section">
  <div class="mission_container container">
    <div class="mission-content">
      <h2 class="mission-title">
        Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
      </h2>
      <p class="mission-text">
        At Organic Shop, we believe in the power of nature. Our mission is to
        provide you with freshly locally sourced organic products that nourish
        both body and soul. We partner with local farmers who share our
        commitment to sustainability and quality.
      </p>
    </div>
    <img
      src="./img/mission/mission.jpg"
      alt="Our mission"
      class="mission-image"
    />
  </div>
</section>
