<section class="mission-section section">
  <div class="mission_container container">
    <div class="mission-content">
      <h2 class="mission-title">
        Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
      </h2>
      <p class="mission-text">
        At Organic Shop, we believe in the power of nature. Our mission is to
        provide you with freshly locally sourced organic products that nourish
        both body and soul. We partner with local farmers who share our
        commitment to sustainability and quality.
      </p>
    </div>

    <picture>
      <source
        srcset="
          ./img/mission/mission-desk.jpg    1x,
          ./img/mission/mission-desk@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/mission/mission-tab.jpg    1x,
          ./img/mission/mission-tab@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <img
        srcset="
          ./img/mission/mission-mob.jpg    1x,
          ./img/mission/mission-mob@2x.jpg 2x
        "
        alt="Our mission image"
        class="mission-image"
      />
    </picture>
  </div>
</section>
