.faq-container {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.faq {
  padding: 64px 16px;
  background-color: #5e8a4d;
  color: #ffffff;
}

.faq-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.faq-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
}

.faq-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.faq-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 24px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.5;
  letter-spacing: 0;
}

.faq-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  fill: currentColor;
  transform: rotate(180deg);
}

.faq-answer {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  .faq {
    padding: 64px 32px;
  }

  .faq-container {
    max-width: 704px;
    gap: 48px;
  }

  .faq-title {
    font-size: 36px;
  }

  .faq-text {
    font-size: 18px;
  }

  .faq-list {
    margin-top: 32px;
  }

  .faq-item {
    padding: 28px 0;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-answer {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .faq {
    padding: 112px 64px;
  }

  .faq-container {
    max-width: 1312px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 64px;
    align-items: start;
  }

  .faq-title {
    font-size: 48px;
  }

  .faq-header {
    max-width: 400px;
  }

  .faq-text {
    font-size: 16px;
    max-width: 400px;
  }

  .faq-list {
    margin-top: 0px;
  }

  .faq-item {
    padding: 32px 0;
  }

  .faq-question {
    font-size: 18px;
  }

  .faq-answer {
    font-size: 16px;
    max-width: 867px;
  }
}
