.feedbacks-section
{
    background-color: #e8eee5;
    
}
.feedbacks_container {
   padding: 64px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.feedbacks-list-stars {
    padding-left: 0;
  margin-left: 0;
  list-style: none;
  margin-bottom: 24px;
}
.feedbacks-stars {
    display: inline-flex;
    gap: 4px;
}
.feedbacks-star-icon { 
   color: #000;            
  fill: currentColor;
  stroke: currentColor;
}
.title-feedbacks
{
    font-weight: 400;
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;
text-align: center;
color: #010400;
font-family: "Chivo", sans-serif;
}
.feedbacks-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.subtitle-feedbacks {
    font-weight: 400;
font-size: 18px;
line-height: 1.5;
text-align: center;
color: #010400;
font-family: "Public Sans", sans-serif;
}
.feedbacks-text {
    font-weight: 400;
font-size: 18px;
line-height: 1.5;
color: #010400;
font-family: "Public Sans", sans-serif;
}
.feedbacks-author {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: auto;
}
.feedbacks-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.feedbacks-name {
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: #010400;
font-family: "Public Sans", sans-serif;
}
.feedbacks-content
{
width: 100%;
  max-width: 343px;
  padding: 32px;
  border: 1px solid rgba(1, 4, 0, 0.15);
  height: 314px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}






@media screen and (min-width: 768px) {

    .feedbacks_container {
   padding: 64px 32px;
}
.feedbacks-content
{
    width: calc((100% - 24px) / 2); 
    margin: 0;
    
}
}


@media screen and (min-width: 1440px) {
    .feedbacks_container {
   padding: 112px 64px;
}

.feedbacks-content
{
    width: calc((100% - 72px) / 4);
}
.title-feedbacks
{
    font-size: 48px;
    margin-bottom: 24px;
}
.subtitle-feedbacks
{
    padding-bottom: 80px;
}
}