.footer {
  background-color: #0a2300;
  text-align: center;
  padding-top: 80px ;
  padding-bottom: 80px;
}

.social-footer-list {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.footer-nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin-top: 24px;
}

.footer-nav-link,
.social-link {
  color: #fff;
  text-decoration: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav-link:hover,
.social-link:hover {
  opacity: 0.8;
}

.footer-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 32px;
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
}
.footer-logo-ref{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-footer-logo {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    flex-direction: row;
    justify-content: center;
  }
  .footer-copyright{
    margin-top: 40px;
  }
  .social-footer-logo{
    width: 24px;
    height: 24px;
  }
  .footer-logo {
    justify-content: center;
  }

}


@media screen and (min-width: 1440px) {
  .footer {
    text-align: left;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  .footer-nav-link{
    padding: 10px 0;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 32px;
    justify-self: center; 
    margin: 0;
  }

  .social-footer-list {
    justify-self: end; 
    margin: 0;
  }

  .footer-logo-ref {
    width: 84px;
    height: 36px;
  }
  .footer-logo {
    justify-content: flex-start;
  }

  .footer-copyright {
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
  .social-footer-logo{
    width: 24;
    height: 24;
  }

}
