.header {
  padding: 6px 0;
  background-color: #5e8a4d;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-link,
.logo,
.mobile-menu-btn,
.order-btn {
  cursor: pointer;
}

.header-nav-list {
  display: none;
}

.order-btn {
  display: none;
}

.logo-icon {
  display: block;
  line-height: 0;
  fill: #fff;
}

.mobile-menu-btn {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  opacity: 0.8;
}

.mobile-menu-icon {
  stroke: #fff;
  fill: #fff;
}
.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}


/* Tablet (768px+) */

@media screen and (min-width: 768px) {
  .order-btn {
    display: inline-block;
    text-align: center;
    min-width: 92px;
    margin-left: auto;
    margin-right: 16px;
    padding: 3px 23px;
    background-color: #1a5901;
    border: 1px solid #1a5901;
    border-radius: 6px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;

    transition:
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order-btn:hover,
  .order-btn:focus {
    background-color: #fff; /* Hover  --color-white */
    border-color: #fff;
    color: #010400;
  }

  .order-btn:active {
    background-color: #fff;
    border-color: #fff;
    color: #010400;
    box-shadow: inset 2px 7px 27px -4px rgba(0, 0, 0, 0.15);
  }
}
/* Desktop (1440px+) */

@media screen and (min-width: 1440px) {
  .mobile-menu-btn {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header-nav-link {
    display: block;
    padding: 18px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
  }

  .header-nav-link:hover,
  .header-nav-link:focus,
  .header-nav-link.current {
    color: rgba(255, 255, 255, 0.5); /*  --opacity-white-50 */
    /* color: #d8d9d8;  --color-neutral-lighter */
  }

  .header-nav-link:active {
    color: rgba(255, 255, 255, 0.6); /*  --opacity-white-60 */
    /* color: #b2b3b2;  --color-neutral-light */
  }

  .order-btn {
    margin-right: 0;
    margin-left: 32px;
  }

  .logo {
    margin-right: auto;
  }
}
